.contenido_productos{
    padding: 50px 0;
}

.contenedor__productos{
    width: 85vw;
    margin: 0 auto;
}

.lista__productos{
    height: 90rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.items_productos{
    text-align: center;
    width: 95%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 15px;
}

.titulo__producto{
    font-size: 2rem;
    font-weight: bold;
}

.descripcion__producto{
    font-size: 1.8rem;
}

.precio__producto{
    margin-top: .8rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.items_productos:hover{
    border-color: #c78c19; 
}

.items_productos:active{
    border-color: #088c19; 
}

@media screen and (767px <= width < 1024px){
    .lista__productos{
        flex-direction: row;
        height: auto;
    }
    .items_productos{
        width: 18rem;
        height: 24rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .items_productos img{
        width: 10rem;
    }
    .titulo__producto{
        font-size: 1.65rem;
    }
    .descripcion__producto{
        font-size: 1.4rem;
    }
    .precio__producto{
        font-size: 1.35rem;
    }
}

@media screen and (min-width: 1024px){
    .lista__productos{
        flex-direction: row;
        height: auto;
    }
    .items_productos{
        width: 20rem;
        height: 28rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .items_productos img{
        width: 14rem;
    }
    .titulo__producto{
        font-size: 2.1rem;
    }
    .descripcion__producto{
        font-size: 1.95rem;
    }
    .precio__producto{
        font-size: 1.75rem;
    }
}