.titulo{
    font-family: 'Lugrasimo', cursive;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: .6rem;
    font-weight: bold;
}

.texto__informacion{
    font-family: 'Tajawal', sans-serif;
    font-weight: 800;
    font-size: 1.12rem;
    text-align: justify;
    line-height: 1.35;
}

.utencilios{
    width: 7rem;
    float: left;
    margin-right: .6rem;
}

.mision{
    margin: .5rem 0;
    font-style: italic;
}

.texto__mision{
    font-weight: bold;
}

@media screen and (767px <= width < 1024px){
    .titulo{
        font-size: 2rem;
    }
    .texto__informacion{
        font-size: 1.4rem;
    }
    .utencilios{
        width: 12rem;
    }
}

@media screen and (min-width: 1024px){
    .titulo{
       font-size: 1.8rem; 
    }
    .texto__informacion{
        font-size: 1.5rem;
    }
    .utencilios{
        width: 15rem;
    }
}