.titulo{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: .6rem;
}

.texto__informacion{
    font-size: 1.12rem;
    text-align: justify;
    line-height: 1.35;
}

.utencilios{
    width: 7rem;
    float: left;
    margin-right: .6rem;
}

.mision{
    margin: .5rem 0;
    font-style: italic;
}

.texto__mision{
    font-weight: bold;
}