.titulo_diferenciales{
    font-weight: bold;
    margin: 1.2rem 0px 1.2rem 0;
    font-size: 1.5rem;
    text-align: center;
}

.items_diferenciales{
    font-size: 1.12rem;
    line-height: 1.35;
}

.imagen__diferenciales{
    width: 8rem;
    float: right;
    transition: 400ms;
    box-shadow: 5px 5px 30px 5px #000000;
}

.items_diferenciales:first-child{
    font-weight: bold;
}

.items_diferenciales:before{
    content: "⭐ ";
}

.imagen__diferenciales:hover{
    opacity: 0.5;
}

@media screen and (767px <= width < 1024px){
    .titulo_diferenciales{
        font-size: 2rem;
    }
    .imagen__diferenciales{
        width: 18rem;
    }
    .items_diferenciales{
        font-size: 1.5rem;
        line-height: 1.5;
    }
    .contenido__diferenciales{
        width: 60%;
    }
}