.encabezado{
    background-color: #BBBBBB;
    padding: 20px 0;
}

.contenedor__encabezado{
    width: 90vw;
    margin: 0 auto;
}

.flexbox{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fondo{
    width: 100%;
}

.nombre{
    font-weight: bold;
}

@media screen and (767px <= width < 1024px){
    .flexbox{
        flex-direction: row;
        justify-content: space-between;
    }
    .rutas{
        width: 75%;
    }
    .fondo{
        height: 24rem;
    }
}

@media screen and (min-width: 1024px){
    .flexbox{
        flex-direction: row;
        justify-content: space-around;
    }
}