.lista_dimensiones{
    height: 7rem;
}

.lista{
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.items__links{
    font-family: 'Lugrasimo', cursive;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.items__links:hover{
    color: #c78c19;
    text-decoration: underline;
}

@media screen and (767px <= width < 1024px){
    .lista_dimensiones{
        height: auto;
    }
    .lista{
        flex-direction: row;
    }
    .items__links{
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 1024px){
    .lista_dimensiones{
        height: auto;
    }
    .lista{
        flex-direction: row;
    }
    .items__links{
        font-size: 1.6rem;
    }
    .rutas{
        width: 55%;
    }
}