.derechos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcion__derechos{
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: .6rem;
}
.imagen__derechos{
    width: 8rem;
    height: 10rem;
}

.diseniador{
    text-decoration: none;
    color: #ffffff;
}

.diseniador:hover{
    color: #c78c19;
    text-decoration: underline;
}

@media screen and (767px <= width < 1024px){
    .descripcion__derechos{
        font-size: 1.4rem;
    }
}