.contenido__contacto{
    padding: 30px 0 50px 0;
}

.contenedor__contacto{
    width: 85vw;
    margin: 0 auto;
}

@media screen and (min-width: 1024px){
    .contenedor__contacto{
        width: 60vw;
    }
}